certifi
click
colorama
dataclasses
Flask
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
scikit-learn
scipy
sklearn
SQLAlchemy
threadpoolctl
typing_extensions
Werkzeug
wincertstore
zipp
