<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Predicting Readmission for Diabetes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- D3 and Plotly -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  <link href="../static/css/style.css" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Gp - v4.6.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html"><span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#model_features">Machine Learning Model</a></li>
          <li><a class="nav-link scrollto" href="#team_intro">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Predicting Readmission for Diabetes<span>.</span></h1>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">

        <form action="{{ url_for('predict')}}"method="post">

          <br>

          <div class="b"><b>Age:</b><br>
            <input class="a" type="Number" name ="age" required="required"></div>

          <div class="b"><b>Time in Hospital (day):</b><br>
            <input class="a" type="Number" name ="time_in_hospital" required="required"></div>

          <div class="b"><b>Number of Procedures:</b><br>
            <input class="a" type="Number" name ="number_of_procedures" required="required"></div>

          <div class="b"><b>Number of Medications:</b><br>
            <input class="a" type="Number" name ="number_of_medications" required="required"></div>

          <div class="b"><b>Race:</b><br>
            <select name="race" class="a">
            <option value="0">AfricanAmerican</option>
            <option value="1">Asian</option>
            <option value="2">Caucasian</option>
            <option value="3">Hispanic</option>
            <option value="4">Other</option></select></div>

          <div class="b"><b>Gender:</b><br>
            <select name="gender" class="a">
            <option value="0">Female</option>
            <option value="1">Male</option></select></div>
        
          <br>
 
          <button type="submit" class="btn btn-success btn-block btn-large">Predict</button>
        </form>

        <br>
        {{ prediction_text }}

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{ url_for('static', filename='img/about.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Reduce readmission in diabetes patients</h3>
            <p class="fst">
              The cost of hospital readmission accounts for a large portion of hospital inpatient services spending. Diabetes is not only one of the top ten leading causes of death in the world, but also the most expensive chronic disease in the United States.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Hospitalized patients with diabetes are at higher risk of readmission than those without diabetes.</li>
              <li><i class="ri-check-double-line"></i> American hospitals spend over $41 billion on diabetic patients who are readmitted within 30 days of discharge. </li>
            </ul>
            <p>
              Being able to determine factors that lead to higher readmission in such patients and predicting which patients will get readmitted can help hospitals save millions of dollars while improving quality of care. Therefore, reducing readmission rates for diabetic patients has great potential to reduce medical cost.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <!-- <p>Services Provided</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Predict Patient Outcome</a></h4>
              <p>We use machine learning to predict patient outcome to allow you to implement targeted preventive measure.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Customize Prediction Model</a></h4>
              <p>We can customize our machine learning model based on the information you have.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Continious Improvment</a></h4>
              <p>As we get a larger dataset over the time, we can improve our model to an higher degree of accuracy.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Beyond Health Care</a></h4>
              <p>Our group's expertise is beyond the health care field. Feel free to reach out to <a href=#team_intro>us</a> for other inqury.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

      <!-- ======= Model Features Section ======= -->
      <section id="model_features" class="testimonials">
        <div class="container" data-aos="zoom-in">
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Readmission</h3>
                  <h4>Predicted</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Whether a patient is readmitted within 30 days.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Diabetes Med -->
              
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Race</h3>
                  <h4>Demographic Information</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Race -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Gender</h3>
                  <h4>Demographic Information</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Gender -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Age</h3>
                  <h4>Demographic Information</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Age Group -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Weight</h3>
                  <h4>Anthropometric Indicator</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Weight -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Time in Hospital</h3>
                  <h4>Medical Indicator</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Time in Hospital -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Insulin</h3>
                  <h4>Medical Indicator</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Insulin -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <h3>Diabetes Medicine</h3>
                  <h4>Medical Indicator</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Description...
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End Feature Diabetes Med -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Model Features Section -->

    <!-- ======= Model Section ======= -->
    <section id="model" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Machine Learning Model</h2>
          <!-- <p>Check our machine learning model</p> -->
        </div>

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>About our machine learning model</h3>
              <p>
                We used a ... dataset to blabla...
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Years</strong> of hospital data from across the US</p>
                  </div>
                </div>
                
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Features</strong> are included to predict patient readmission outcome.</p>
                  </div>
                </div>
                
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Machine Learning Models</strong> tested to pick the best model</p>
                  </div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Percent</strong> accuracy blabla...</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Model Section -->

    <!-- ======= Team Intro Section ======= -->
    <section id="team_intro" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> We are a group of data enthusiasts. Click on our profile pictures to learn more about us.</p>
          <!-- <a class="cta-btn" href="#">Call To Action</a> -->
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <!-- <p>Check our Team</p> -->
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/greyhardy/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Grey Hardy</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/lauren-to/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lauren To</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/michellemdavis/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Michelle Davis</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/yingying-li/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yingying Li</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

 -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="footer-top"> -->
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Data Power Team</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <strong><span>Data Power Team</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>
